@import "fonts.css";

@media screen and (min-width:768px)
{
  /* NAVIGATION BAR DEFINITION:BEGIN */
  .mobile-bar-container {
    display: none;
  }
  .logo-bar {
    background: #ec008c;
    float: left;
    height: 72px;
    margin: 0;
    padding: 0 48px 0 24px;
  }
  .logo-bar img {
    margin: 24px 0 0;
  }
  .top-level {
    background: #ec008c;
  }
  .top-item {
    color: #fff;
    display: inline-block;
    padding: 12px 24px;
  }
  .top-item:hover {
    background: #fff;
    color: #ec008c;
  }
  .bottom-level {
    margin: 12px 0 0 -24px;
    padding: 12px 0;
    position: absolute;
    z-index: 501;
  }
  .copyright {
    display: none;
  }
  /* NAVIGATION BAR DEFINITION:END */

  /* CONTENT:BEGIN */
  .background-container {
    height: 640px;
    position: relative;
    width: 100%;
  }
  .background-container img {
    height: 640px;
  }
  .background-header {
    color: #fff;
    font: 120px/132px "HUGEAvantGardeBold";
    margin: -132px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .content-container {
    font: 24px/36px 'Galaxie';
    left: 50%;
    margin: -4px 0 0 -484px;
    padding: 60px 0 0;
    position: relative;
    width: 968px;
  }
  /* CONTENT:END */

  /* GENERAL STYLES:BEGIN */
  .hide {
    display: none;
  }
  .translucent-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 500;
  }
  /* GENERAL STYLES:END */
}
