@import "fonts.css";

/* NAVIGATION BAR DEFINITION:BEGIN */
.nav-bar {
  margin: 0;
  padding: 0;
}
.top-level {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.top-item {
  cursor: pointer;
  font: 21px/48px "HUGEAvantGardeBold";
}
.bottom-level {
  background: #fff;
  list-style-type: none;
}
.bottom-item {
  color: #000;
  cursor: pointer;
  font: 16px/48px 'Galaxie';
  padding: 0 24px;
}
.bottom-item:hover {
  background: #eee;
  color: #ec008c;
}
.bottom-item span {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
}
/* NAVIGATION BAR DEFINITION:END */

/* CONTENT:BEGIN */
.background-container img {
  width: 100%;
}
/* CONTENT:END */

/* GENERAL STYLES:BEGIN */
.content {
  position: relative;
}
.content-container {
  text-align: justify;
}
body {
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
/* GENERAL STYLES:END */
