@import "fonts.css";

@media screen and (max-width:768px)
{
  /* NAVIGATION BAR DEFINITION:BEGIN */
  .mobile-bar-container {
    background: #ec008c;
  }
  .mobile-bar{
    height: 60px;
    position: relative;
  }
  .closed-bar {
    margin: 0 -72px 0 0;
    left: -100%
  }
  .mobile-bar .huge-mobile {
    margin: 20px 24px 0;
    float: left;
  }
  .mobile-bar .nav-mobile {
    margin: 18px 24px 0;
    float: right;
    cursor: pointer;
  }
  .logo-bar {
    display: none;
  }
  .nav-bar {
    position:absolute;
    top: 60px;
    z-index: 502;
    width: 80%;
  }
  .copyright {
    bottom: 0;
    padding: 0 24px;
    position: fixed;
  }
  .closed-menu {
    left: -100%;
  }
  .copyright span {
    display: table-cell;
    font: 12px/16px "Helvetica Neue";
    height: 48px;
    vertical-align: middle;
  }
  .top-level {
    background: #fff;
  }
  .top-item {
    padding: 0 24px;
  }
  .top-item:hover {
    background: #eee;
  }
  .chevron::after {
    content: url("../images/chevron.svg");
    float:right;
    width: 48px;
    height: 48px;
  }
  .chevron-close::after {
    content: url("../images/chevron.svg");
    float:right;
    width: 48px;
    height: 48px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .bottom-level {
    margin: 0;
    padding: 0;
  }
  .bottom-item {
    background: #fff;
    margin: 0 -24px;
  }
  /* NAVIGATION BAR DEFINITION:END */

  /* CONTENT:BEGIN */
  .content {
    position: absolute;
  }
  .background-container img {
    height: 240px;
  }
  .background-header {
    font: 44px/48px "HUGEAvantGardeBold";
    margin: 0;
    padding: 50px 0 50px 24px;
  }
  .content-container {
    font: 14px/24px 'Galaxie';
    margin: 0;
    padding: 0 24px;
  }
  .shifted-content {
    left: 80%;
  }
  /* CONTENT:END */

  /* GENERAL STYLES:BEGIN */
  .translucent-content {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 500;
  }
  /* GENERAL STYLES:END */
}
