@import "fonts.css";

body {
  background: #fff;
  color: #000;
  margin: 0;
  font: Galaxie;
  font-style: normal;
}
/**
 * Header Styles
 */
header{
  background: #ec008c;
  color: #fff;
  height: 72px;
  position: relative;
  z-index: 1040; /* Width > 767 */
}
header ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header .close{
  display: none;
}
#brand{
  background-image: url(../images/HUGE-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 24px;
  width: 60px;
  margin: 24px 48px 24px 24px;
  float: left;
}
#hamburger{
  display: none;
}
  .copyright{
    display: none;
  }
/**
 * Navigation
 */
ul.primary-nav{
  position: relative;
  z-index: 1040; /* Width > 767 */
}
ul.primary-nav > li{
  float: left;
  position: relative;
}
ul.primary-nav > li:hover,
ul.primary-nav > li.active{
  background-color: #fff;
}
ul.primary-nav a{
  text-decoration: none;
}
ul.primary-nav > li > a{
  font: 21px/48px HUGEAvantGardeBold;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
}
ul.primary-nav > li:hover > a,
ul.primary-nav > li.active > a{
  color: #ec008c;
}

ul.secondary-nav{
  padding: 12px 0;
  position: absolute;
  display: none;
  z-index: 999;
  background-color: #fff;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -max-content;
}
ul.primary-nav > li.active > ul{
  display: block;
}
ul.secondary-nav > li a{
  font: 16px/48px Galaxie;
  color: #000;
  padding: 0;
  word-break: keep-all;
  margin: 0 24px;
}
ul.secondary-nav > li:hover{
  background-color: #eee;
}
ul.secondary-nav > li:hover a{
  color: #ec008c;
}
.chevron{
  display: none;
}

section.intro{
  background-image: url(../images/background-image.jpg);
  height: 640px;
  position: relative;
}

h1{
  position: absolute;
  top: 56%;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 120px/132px HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
  color: #fff;
}

section.intro-text{
  margin-top: 60px;
}

section.intro-text p{
  font-size:  24px;
  line-height: 36px;
  max-width: 968px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  header{
    height: 60px;
    z-index: 1041;
    position: relative;
  }
  #brand{
    position: absolute;
    margin: 18px 24px;
    left: -200px;
    transition: left 0.5s ease-out;
  }
  #brand.show{
    left: 0;
  }
  #hamburger{
    display: inline-block;
    margin: 20px 24px;
    left: 0;
    position: relative;
    cursor: pointer;
    background: url(../images/toggle-open.svg) center center no-repeat transparent;
    height: 20px;
    width: 24px;
    transition: left 0.5s ease-out;
  }
  #hamburger.close{
    left: 87vw;
    background: url(../images/toggle-close.svg) center center no-repeat transparent;
  }
  nav{
    position: absolute;
    top: 60px;
    width: 300px;
    left: -300px;
    transition: left 1s ease;
    z-index: 1041;    
    background-color: #fff;
  }
  nav > div{
    position: relative;
    height: 100%;
  }

  .copyright{
    color: #000;
    font: 12px/16px  Helvetica;
    padding: 16px 24px;
  }
  nav.show{
    left: 0px;
  }
  ul.primary-nav{
    margin-bottom: 100px;
  }
  ul.primary-nav > li{
    float: none;
    position: relative;
  }
  ul.primary-nav > li > a{
    color: #000;
    padding: 0 24px;
    display: block;
  }
  ul.primary-nav > li:hover{
    background-color: #eee;
  }
  ul.primary-nav > li.active{
    background-color: #fff;
  }
  ul.primary-nav > li.active > .chevron.bottom{
    transform: rotate(180deg);
  }
  ul.primary-nav > li.active > ul.secondary-nav{
   height: auto;
  }
  ul.primary-nav > li.active > a{
    color: #000;
  }
  ul.secondary-nav{
    background-color: #fff;
    width: auto;
    position: relative;
    padding: 0;
    height: 0;
    transition: height 1s ease;
  }
  ul.secondary-nav > li a{
    padding: 0 24px;
    margin: 0;
    display: block;
  }
  .chevron{
    display: block;
    position: absolute;
    margin: 12px;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  .chevron::before {
    border-style: solid;
    border-width: 4px 4px 0 0;
    content: '';
    display: inline-block;
    height: 10px;
    transform: rotate(135deg);
    width: 10px;
    border-color: #ec008c;
  }
  h1{
    color: #000;
    left: inherit;
    position: relative;
    top: inherit;
    transform: none;
    margin: 50px 24px;
    font-size: 44px;
    line-height: 48px;
    text-align: left;
  }
  section.intro{
    height: 240px;
  }
  section.intro-text p{
    font-size:  14px;
    line-height: 24px;
    max-width: initial;
    margin: 0 24px;
  }
 
}
#overlay{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1039;
  background-color: #000;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}